%h2= "#{@user.firstname} #{@user.lastname}"

%p= "Contact email: #{@user.email}"

%p= link_to "Edit", edit_user_path(@user)

%p= link_to "New item to remember", new_item_path

%p= link_to "Sign out", destroy_user_session_path, method: :delete

%h3 Items for remembering.
%table
  %thead
    %td Question
    %td Next date to remind
  %tbody
    - @items.each do |item|
      %tr
        %td= link_to item.question, item
        %td= item.reminder_date
